<rx-page title="'Encore-UI - Basics'">

    <h2 class="title lg clear">Introduction</h3>

    <ul class="list">
        <li>This sub-site provides development teams at Rackspace with a set of design patterns, to help ensure a consistent and unified look-and-feel for all products under the Encore umbrella.</li>
        <li>This section of the Demo site focuses mainly on markup, CSS and design patterns. If you're curious about Encore-specific angular.js directives, find the "All Components" section in the left hand navigation.</li>
        <li>If you're a Rackspace team outside of Encore and need help setting up an new project from an engineering perspective, go to this <a href="https://github.com/rackerlabs/encore-ui/blob/master/guides/getting-started.md">Getting Started guide</a> in the Encore-UI repository.
        <ul class="list">
            <li>For the most part, RackSpace developer teams will be creating mark-up using the <a href="http://rackerlabs.github.io/encore-ui/#/component/rxApp">rxPage subdirective of rxApp</a> as a container.</li>
            <li><a href="https://github.com/rackerlabs/encore-ui/blob/master/src/rxApp/templates/rxPage.html">rxPage's template code</a> contains a breadcrumb component, an attribute to pre-fill titles and subtitles and a rxNotification container so you can send page-level communication errors and validation messages in a standardized way. Check the angular.js code for controllers within Cloud Encore for implementation examples.</li>
        </ul>
        </li>
        <li>The <a href="https://github.com/rackerlabs/encore-ui/tree/master/src/rxApp">rxApp</a> <a href="https://github.com/rackerlabs/encore-ui/blob/master/src/rxApp/common.less">common.less file</a> defines many base CSS rules and classes for app use. Included in this is <a href="http://necolas.github.io/normalize.css/">normalize.css</a>. This helps create a consistent starting point for styles across all browsers.</li>

        <li>Kevin Lamping, a developer on the EncoreUI team, wrote a document to address <a href="https://github.com/rackerlabs/encore-ui/blob/master/guides/css-styleguide.md">coding standards while writing CSS</a>.</li>
    </ul>

    <h3 class="title clear" id="typography">Typography</h3>

    <ul class="list">
        <li><span class="msg-info">ENCORE-SPECIFIC:</span> We use Google Fonts, in particular the Roboto font. While Google Fonts are not included in the Encore-UI package, they are included if you use the encore-ui-template repository as a base.
        <li>For developers not using encore-ui-template, <a href="https://github.com/rackerlabs/encore-ui/tree/master/src/rxApp#fonts">read the README.md file for rxApp</a> on fonts for more information.</li>
    </ul>

    <h3 class="title clear" id="heading-title-styles">Heading/Title Styles</h2>
    <div class="component-description clear">
        <ul class="list">
            <li>Headings are sized using the <code>title</code> class and an additional <code>xl</code>, <code>lg</code>, <code>sm</code> and <code>xs</code> classes. Not adding the additional class defaults the size to medium.</li>
            <li>The size of the heading is not impacted by the heading level used (e.g. &lt;h1&gt;, &lt;h2&gt;). This is done to ensure that the heading levels are sequential.</li>
            <li><span class="msg-info">ENCORE-SPECIFIC:</span> For design consistency, we usually use the default medium size (&lt;h2 class="title"&gt;) for most subheaders. Other headers classes can be used for context.</li>
        </ul>
    </div>

    <tabset class="clearfix clear">
        <tab heading="Demo">
            <h1 class="title xl">Extra Large Class</h1>
            <h2 class="title lg">Large Class (Standard page header)</h2>
            <h3 class="title">Default Class (medium, standard sub-header)</h3>
            <h3 class="title subdued">Subdued Class</h3>
            <h4 class="title sm">Small Class</h4>
            <h5 class="title xs">Extra Small Class</h5>
        </tab>
        <tab heading="Markup">
            [FIXME: MARKUP GOES HERE]
        </tab>
    </tabset>    

    <h3 class="title clear" id="descriptions-metadata">Descriptions / Metadata</h2>

    <div class="component-description clear">
        <ul class="list">
            <li>The <a href="http://rackerlabs.github.io/encore-ui/#/component/metadata">Encore-UI metadata component</a> is a list of terms with their associated descriptions. This is used throughout Encore to show metadata, especially on an individual object such as a server or a CBS volume.</li>
            <li><span class="msg-info">ENCORE-SPECIFIC:</span> This is an ideal solution if you have anywhere from 5-10 definitions. (See a Server Details page or Image Details page under Accounts -&gt; Cloud for an example.) Anything more - or anything displaying visual or image content - and you may want to consider a different design pattern. (See the "Non-Data based Tables" section in the Table page for more information.)</li>
        </ul>
    </div>

    <tabset class="clearfix clear">
        <tab heading="Demo">
<div class="metadata">
     <dl>
         <dt>Status:</dt>
         <dd>Active</dd>
         <dt>RCN:</dt>
         <dd>RCN-555-555-555</dd>
         <dt>Type:</dt>
         <dd>Cloud</dd>
         <dt>Service Level:</dt>
         <dd>Mannaged &rarr; Mannaged</dd>
         <dt>Service Type:</dt>
         <dd>DevOps &rarr; SysOps</dd>
         <dt>Plan Change Status:</dt>
         <dd>Pending</dd>
         <dt>Service Team:</dt>
         <dd><a href="#">Link</a></dd>
     </dl>
 </div>
        </tab>
        <tab heading="Markup">
            [FIXME: MARKUP GOES HERE]
        </tab>
    </tabset>  

    <h3 class="title" id="lists">Lists</h2>
    <div class="component-description clear">
        <ul class="list">
            <li>Lists by default do not have styles. Add bullets/decimals to lists with the <code>list</code> class. It is also possible to build non-semantic lists using the additional <code>item</code> class.</li>
            <li><span class="msg-info">ENCORE-SPECIFIC:</span> Use this in conjunction with icons, colors and helper classes such as <code>.flush-right</code> to build out action menus. Look at the detail pages in Cloud Servers and view-source for additional context.</li>
        </ul>
    </div>
    <tabset class="clearfix clear">
        <tab heading="Demo">
            <div class="component-demo">
<div class="pure-g columns clear">
    <div class="pure-u-1-5">
<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>    
</ul>        
    </div>
    <div class="pure-u-1-5">
<ol class="list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol>        
    </div>
    <div class="pure-u-1-5">
<ul class="list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>        
    </div>
    <div class="pure-u-1-5">
<div class="list bulleted">
    <p class="item">Item 1</p>
    <p class="item">Item 2</p>
    <p class="item">Item 3</p>
</div>        
    </div>
    <div class="pure-u-1-5">
<div class="list decimal">
    <p class="item">Item 1</p>
    <p class="item">Item 2</p>
    <p class="item">Item 3</p>
</div>         
    </div>
</div>                

            </div>
        </tab>
        <tab heading="Markup" ng-if="component.docs.html">
            <rx-prism language="markup"></rx-prism>
        </tab>
    </tabset>

    <h3 class="title" id="wells">Wells</h2>
    <div class="component-description clear">
        <ul class="list">
            <li>The <code>well</code> class creates a well effect - a box with significant padding and light gray background.</li>
            <li><span class="msg-info">ENCORE-SPECIFIC:</span> In the context of Encore, we currently use this in the context of adding large amounts of extraneous or optional information. (Take a look at Account -> Cloud -> Database -> Create New Instance for an example of this or <a href="https://github.com/rackerlabs/encore-cloud-ui/blob/master/app/views/databases/CreateInstance.html#L48-L67">view source</a>.)</li>
        </ul>
    </div>
    <tabset class="clearfix clear">
        <tab heading="Demo">
<div class="well">
    <h2 class="title subdued">Wait just a moment here!</h2>    
    In convallis sit amet nunc sit amet consectetur. Donec euismod ullamcorper mauris, non elementum nibh pharetra nec. Integer varius ipsum orci, vitae maximus felis aliquet a. Proin consequat cursus rutrum. 
</div>
        </tab>
        <tab heading="Markup" ng-if="component.docs.html">
            <rx-prism language="markup"></rx-prism>
        </tab>
    </tabset>

    <h2 class="title lg" id="helper-classes">Helper Classes</h2>
    <div class="component-description clear">

<dl>
    <dt>Subdued Text</dt>
    <dd>The <code>.subdued</code> class is a basic color change to make text less prominent. The style persists if the class is nested in a link.</dd>
    <dt>Full Width</dt>
    <dd>Class that marks content as full width (e.g. to give a button full width). Requires 'display' to be defined as inline-block or block.</dd>
    <dt>Hidden content</dt>
    <dd>
        <ul>
            <li>.hidden class - Will add to hide an element but not remove it from the spacing of the page.</li>
            <li>.visually-hidden class - Used to hide content visually but <a href="http://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html">can still be read by screen readers</a> (i.e. removed from the page spacing)</li>
        </ul>
    </dd>
    <dt>Clearing floats</dt>
    <dd>
        <ul>
            <li>.clear class - Provides clearfix functionality See http://nicolasgallagher.com/micro-clearfix-hack/</li>
            <li>.clear-left, .clear-right classes - Simple classes to help with clearing previous sibling floats</li>
        </ul>
    </dd>    
</dl>

    </div>
    <tabset class="clearfix clear">
        <tab heading="Demo">

<h1>My Items <span class="subdued">(10)</span></h1>
<h1><a href="#">My Items <span class="subdued">(10)</span></a></h1>

<h1 class="title lg">No Clearfix</h1>
<div style="background: #ddd; padding: 1em;">
    <div style="float: left; background: #eee; padding: 1em;">Floated Content</div>
</div>

<h1 class="title lg clear">With Clearfix</h1>
<div class="clearfix" style="background: #ddd; padding: 1em;">
    <div style="float: left; background: #eee; padding: 1em;">Floated Content</div>
</div>

<div class="clearfix padding: 1em;">
    <div style="float: left;">Floated</div>
    <div class="clear-right">Uncleared (wrong side)</div>
    <div class="clear-left">Cleared</div>

    <hr>

    <div style="float: right;">Floated</div>
    <div class="clear-left">Uncleared (wrong side)</div>
    <div class="clear-right">Cleared</div>

    <hr>

    <div style="float: right;">Floated</div>
    <div style="float: left;">Floated</div>
    <div class="clear">Both cleared</div>
</div>

        </tab>
        <tab heading="Markup" ng-if="component.docs.html">
            <rx-prism language="markup"></rx-prism>
        </tab>
    </tabset>

</rx-page>