<rx-page title="'Encore-UI - Tables'">

<h3 class="title clear">Basics</h3>

    <div class="component-description clear">
        <ul class="list">
            <li>Tables have default styles: regular rows have white backgrounds, while headers use white text with a gray background. An additional <code>table-striped</code> class is available for alternate row striping.</li>
            <li><span class="msg-info">ENCORE-SPECIFIC:</span> In Encore, we usually use to tables to show data-table related data, such as listing of objects.</li>
            <li>If you need to show summary-style important pieces of metadata that aren't necessarily related to each other, consider <a href="FIXME">using a metadata component</a>.</li>
            <li>In Support Services, there have been moments where we have displayed table in a structural format, but we use a different styling. See the <a href="FIXME">Non-Data based Tables</a> section for more information.</li>  
        </ul>
    </div>
    <tabset class="clearfix clear">
        <tab heading="Demo">
            <div class="component-demo">

<table class="table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Occupation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Patrick Deuley</td>
            <td>Design Chaplain</td>
        </tr>
        <tr>
            <td>Hussam Dawood</td>
            <td>Evangelist of Roger Enriquez</td>
        </tr>
    </tbody>
</table>

            </div>
        </tab>
        <tab heading="Markup" ng-if="component.docs.html">
            <rx-prism language="markup"></rx-prism>
        </tab>
    </tabset>

<h2 class="title lg">Directives</h2>

<h3 class="title">Cog Menus via rxActionMenu</h3>

    <div class="component-description clear">
        <ul class="list">
            <li><a href="http://rackerlabs.github.io/encore-ui/#/component/rxActionMenu">See the rxActionMenu directive</a> for implementation and examples.</li>
            <li><span class="msg-info">ENCORE-SPECIFIC:</span> In Encore, we usually use cogs if there are actionable items for every row. As an example, most main table listings show cog menus with actionable items, such as <a href="https://github.com/rackerlabs/encore-cloud-ui/blob/master/app/views/servers/Servers.html#L135-L146">Cloud Server pages showing FirstGen/NextGen actions</a> or <a href="https://github.com/rackerlabs/encore-cloud-ui/blob/master/app/views/cbs/Volumes.html#L115-L145">Cloud Block Storage Volumes</a>.</li>
            <li>For general advice as to what icons and colors to use, consult <a href="#/styleguide/buttons">the section on icons and colors</a>.
            <li>There may be cases where an action is not available on a particular row. In this case, those particular links were disabled using the <code>.disabled</code> class rather than not having them appear at all.</li>
            <li><span class="msg-warn">HEADS UP:</span> In Encore Cloud's servers.less, we added the the <code>actions</code> class to the table header and styled the column at 15 pixels. This has not been implemented for Encore-UI.</li>
            <li><span class="msg-warn">HEADS UP:</span> We have one design pattern that slightly differs; for data tables that have involved objects that only require deleting such as particular data tables related to LBaaS connection nodes and Support Service user tables, a particular delete-based design pattern was created. See <a href="# FIXME">the section on Delete "X" actions</a>.</li>
        </ul>
    </div>

    <tabset class="clearfix clear">
        <tab heading="Demo">
            <div class="component-demo">

<table class="table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Occupation</th>
            <th class="actions" style="width: 15px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Patrick Deuley</td>
            <td>Design Chaplain</td>
            <td><rx-action-menu></rx-action-menu></td>            
        </tr>
        <tr>
            <td>Hussam Dawood</td>
            <td>Evangelist of Roger Enriquez</td>
            <td><rx-action-menu></rx-action-menu></td>            
        </tr>

    </tbody>
</table>

            </div>
        </tab>
        <tab heading="Markup" ng-if="component.docs.html">
            <rx-prism language="markup"></rx-prism>
        </tab>
    </tabset>    

<h3 class="title">Table Footer Pagination via rxPaginate</h3>

    <div class="component-description clear">
        <ul class="list">
            <li><a href="http://rackerlabs.github.io/encore-ui/#/component/rxPaginate">See the rxPaginate directive</a> for implementation and examples.</li>
            <li><span class="msg-info">ENCORE-SPECIFIC:</span> The pagination is visible in this example to show how mark-up will be implemented. Generally, the pagination directive does not display if there is only one page of data available. We use angular.js to make sure this doesn't display.</li>
            <li><span class="msg-warn">HEADS UP:</span> It's a known issue that the footer wraps into a second line if the table is 50% of the screen. In cases like those, we've used the <code>display:none</code> CSS property for elements to hide all elements not directly related to pagination. See the <a href="https://github.com/rackerlabs/supportservice-ui/blob/master/app/styles/table.less#L40-L50">LESS of narrow tables used in Support Services</a> for an example of this. Note that this has not been implemented in Encore-UI yet.</li>
        </ul>
    </div>

    <tabset class="clearfix clear">
        <tab heading="Demo">
            <div class="component-demo">

<table class="table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Occupation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Patrick Deuley</td>
            <td>Design Chaplain</td>
        </tr>
        <tr>
            <td>Hussam Dawood</td>
            <td>Evangelist of Roger Enriquez</td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="paginate-area">
            <td colspan="3">
                <rx-paginate page-tracking="pager"></rx-paginate>
            </td>
        </tr>
    </tfoot>     
</table>

            </div>
        </tab>
        <tab heading="Markup" ng-if="component.docs.html">
            <rx-prism language="markup"></rx-prism>
        </tab>
    </tabset>  

<h2 class="title lg">Design Patterns</h2>

<h3 class="title">Null patterns</h3>

    <div class="component-description clear">
        <ul class="list">
            <li><span class="msg-info">ENCORE-SPECIFIC:</span> Consider having a default message if there are no rows for your data table. In Encore, we still include the data table headers to show there would usually be tabular data here.</li>
        </ul>
    </div>

    <tabset class="clearfix clear">
        <tab heading="Demo">
            <div class="component-demo">
<table class="table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Occupation</th>
            <th class="actions" style="width: 15px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3">No names were found.</td>
        </tr>

    </tbody>
</table>
            </div>
        </tab>
    </tabset>

<h3 class="title">Non-Data based Tables</h3>

    <ul>
        <li>For Support Services, we use tables as a structural format but use different styling to show larger components of data such as tags, groups, badges and other block level information.</li>
        <li>As the usage of this is outside of Encore-UI and falls outside the scope of this document, please look at the the staging site and the specific <a href="https://github.com/rackerlabs/supportservice-ui/blob/master/app/views/teams/teamDetail.html#L47-L80">markup</a> and <a href="https://github.com/rackerlabs/supportservice-ui/blob/master/app/styles/table.less">LESS files</a> for more information.</li>
    </ul>

<h3 class="title">Delete "X" action</h3>

    <div class="component-description clear">
        <ul class="list">
            <li><span class="msg-info">ENCORE-SPECIFIC:</span> For data tables involving objects that only require deleting (Examples: tables related to LBaaS connection nodes and Support Service user tables) there's a design pattern that replaces the cog with an X.</li>
            <li>View <a href="https://github.com/rackerlabs/supportservice-ui/search?utf8=%E2%9C%93&q=times">these set of tables used in Support Services</a> for examples.</li>
        </ul>
    </div>

    <tabset class="clearfix clear">
        <tab heading="Demo">
            <div class="component-demo">
<table class="table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Occupation</th>
            <th class="actions" style="width: 15px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Patrick Deuley</td>
            <td>Design Chaplain</td>
            <td><i class="fa fa-times"></i></td>
        </tr>
    </tbody>
</table>
            </div>
        </tab>
    </tabset>

<h3 class="title">Status columns</h3>

<ul>
    <li><span class="msg-info">ENCORE-SPECIFIC:</span> Outside the scope of this document is the color coding of status columns. There are currently two different design patterns for this: one inside Cloud Servers to display statuses of cloud based objects (<a href="https://github.com/rackerlabs/encore-cloud-ui/blob/master/app/views/servers/Servers.html#L93-L97">example of server markup</a>), the other inside Ticket Queues to show ticket status.</li>
    <li>As the usage of this is outside of Encore-UI and falls outside the scope of this document, please look at the the staging site and specific LESS files for more information.</li>    
</ul>

<h3 class="title">Filters</h3>

<ul>
    <li><span class="msg-info">ENCORE-SPECIFIC:</span> Tables have also been used for filtering, but because there has not been a common design pattern for this, this is not integrated into Encore-UI either. Examples include:
    <ul class="list">
        <li>Data based filters, seen in Encore Cloud (Servers, Volumes, Images, Database, Load Balancers) - Example of server markup</a></li>
        <li>Ticket Queues (Filtering by ticket queues and status)</li>
        <li>Billing (Filtering by billing data and transactional status)</li>
    </ul>
    </li>
    <li>Please look at the the staging site and specific mark-up and LESS files inside individual repositories for more information.</li>    
</ul>

<h2 class="title lg">UI Roadmap / Possible Future-work</h2>

<ul class="list">
    <li>Checkboxes for table rows with design patterns related to "Select/Unselect All" behavior</li>
    <li>Loading Styles for Tables</li>
    <li>Submit actions for Server-Side Filtering</li>
</ul>

</rx-page>